service vendor.nfc_hal_1_1 /vendor/bin/hw/android.hardware.nfc@1.1-service.cxd22xx
    class hal
    user nfc
    group nfc diag
    capabilities BLOCK_SUSPEND WAKE_ALARM NET_ADMIN
    seclabel u:r:hal_nfc_default:s0
    interface android.hardware.nfc@1.1::INfc default
    disabled
    oneshot