service vendor.nfc-1-2 /vendor/bin/hw/android.hardware.nfc@1.2-service.cxd22xx_shim
    class hal
    user nfc
    group nfc
    interface android.hardware.nfc@1.0::INfc default
    interface android.hardware.nfc@1.1::INfc default
    interface android.hardware.nfc@1.2::INfc default